 
body {
	background-color: white;
	text-align: center;
	font-family: Helvetica, sans-serif;
}
input {
	border: 2px solid #999;
	font-family: ComixLoud, sans-serif;
	color: #999;
}

#guessfield {
	color: blue;
	font-family: 'ComixLoud', 'cursive';
	font-size: 3.0em;
}

h1 {
	font-size: 40px;
	font-family: 'ComixLoud', 'cursive';
}

.gamediv{
	width = 500px;
 	padding: 15px;
	background-color:  #00ff00;
	border-radius: 5px;
}

#hangman{
	height: 300px;
	width: 300px;
}
